* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
}

body {
  width: 70%;
  margin: auto;
  background-image: repeating-linear-gradient(#999, #888, #999, #888);
}

h1 {
  text-align: center;
  margin: 20px 0 40px;
  font-size: 4em;
}

h2 {
  font-size: 1.95em;
}

.leader-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 20px;
}

.list-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.scores {
  border: solid 2px #000;
  background-color: #fff;
  border-radius: 10px;
  height: 350px;
  width: 350px;
  padding: 10px;
  overflow: scroll;
}

li {
  font-size: 18px;
}

li:nth-child(even) {
  background-color: #999;
}

.btn {
  width: 80px;
  height: 30px;
  font-size: 16px;
  border-radius: 3px;
}

form {
  border-radius: 0.6rem;
  background-size: cover;
  border: solid 2px #000;
  background-color: #fff;
  height: 200px;
  width: 280px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8%;
}

.add-score h2 {
  margin-bottom: 10px;
}

.inpute-box {
  padding-left: 5px;
  height: 30px;
  border-radius: 0.25rem;
  border-color: #020f43;
  outline: none;
  background-color: white;
}

@media screen and (max-width: 930px) {
  .leader-container {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  h1 {
    font-size: 250%;
  }
}

@media screen and (max-width: 560px) {
  .leader-container {
    border: none;
  }
}
